MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=your_database
MYSQL_USERNAME=your_username
MYSQL_PASSWORD=your_password

JDBC_URL=jdbc:mysql://localhost:3306/your_database

AMAZON_USERNAME=your_amazon_username
AMAZON_PASSWORD=your_amazon_password

EMAIL_USERNAME=your_email@example.com
EMAIL_PASSWORD=your_email_password