@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Montserrat, sans-serif;
    background: linear-gradient(to right, #0e0003, #0D1117);
    -webkit-font-smoothing: antialiased;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 125%;
    max-width: 450px;
    color: #FFFFFF;
}

input, button, textarea {
    font: 300 15px Montserrat, sans-serif;
}

button {
    cursor: pointer;
    border: 1px solid #DCDCE6;
    border-radius: 5px;
}

form input {
    width: 100%;
    height: 45px;
    color: #F0F6FC; 
    background-color: #0D1117;
    border: 1px solid #3D444D;
    border-radius: 15px;
    padding: 0 15px;
}

form input:hover {
    filter: brightness(80%);
    background-color: #000000;
    transform: scale(1.01);
}

.button {
    width: 100%;
    height: 45px;   
    background: #29903B;
    border: 1px solid #29903B;
    border-radius: 15px;
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    transition: filter 0.3s;
    
    display: flex;     
    justify-content: center;
    align-items: center;
}

.button:hover {
    filter: brightness(80%);
    background-color: #1f702d;
    transform: scale(1.03);
}